<% title "#{@section.name} ändern" %>

<%= link_to("<< Zurück zur Liste", {:action => 'list', :page_id => @page.id}, :class => 'back-link') %>

<div class="section edit">
  <h2>Update Section</h2>

  <%= form_for(:section, :url => {:action => 'update', :id => @section.id, :page_id => @page.id}) do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Ändern") %>
    </div>
    
  <% end %>
</div>
