<% title "#{@page.name} ändern" %>

<%= link_to("<< Zurück zur Liste", {:action => 'list', :subject_id => @subject.id}, :class => 'back-link') %>

<div class="page edit">

  <%= form_for(:page, :url => {:action => 'update', :id => @page.id, :subject_id => @subject.id}) do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Ändern") %>
    </div>
    
  <% end %>
</div>
