<p>Willkommen der Zakuria Corperation, <%= @resource.email %>!</p>

<p>Du kannst deinen Account mit diesem Link bestätigen:</p>

<p><%= link_to 'Account bestätigen', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
