<p>Hallo <%= @resource.email %>!</p>

<p>Klicke diesen Link um dein Passwort zurückzusetzen.</p>

<p><%= link_to 'Password zurücksetzen', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Wenn du diese Anfrage nicht geschickt hast, ignoriere diese E-Mail.</p>
<p>Dein Passwort wird solange nicht geändert bis du den Link oben benutzt.</p>
