<p>Hallo <%= @resource.email %>!</p>

<p>Dein Account wurde vorübergehend gesperrt, da zu viele Einlogversuche unternommen wurden.</p>

<p>Hier kannst du dich über diesen Link wieder entperren:</p>

<p><%= link_to 'Profil entsperren', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
